.site-nav__toggle {
    position: relative;
    z-index: 400;
}

.site-nav__toggle--secondary {
    display: none;
}

.site-nav__toggle:focus {
    outline-color: var(--color-white);
    outline-offset: -4px;
}

@media (min-width: 50.001em) {
    .site-nav__toggle {
        display: none;
    }

    .site-nav__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.site-nav__items,
.site-nav__items ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 50em) {
    .site-nav__items,
    .site-nav__wrapper {
        animation-duration: 0.3s;
        animation-fill-mode: both;
        background-color: var(--color-primary-100);
        display: none;
    }

    .site-nav__items.is-opened,
    .site-nav__wrapper.is-opened {
        bottom: 0;
        display: block;
        left: 0;
        overflow-x: auto;
        padding: var(--spacing-12x) var(--spacing-2x) var(--spacing-2x);
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
    }
}

.site-nav__items--secondary,
.site-nav__items--main {
    display: block;
}

@media (min-width: 50.001em) {
    .site-nav__items {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }
}

.site-nav__items > li {
    margin-bottom: var(--spacing-2x);
    margin-top: var(--spacing-2x);
}

@media (min-width: 50.001em) {
    .site-nav__items > li {
        margin-bottom: 0;
        margin-right: var(--spacing-4x);
        margin-top: 0;
    }

    .site-nav__items > li:last-child {
        margin-right: 0;
    }
}

.site-nav__items  li {
    position: relative;
}

.site-nav__items a,
.site-nav__sub-toggle,
.site-nav__sub-sub-toggle {
    background-color: transparent;
    color: var(--color-grey-90);
    font-size: var(--font-size-md);
    font-weight: 500;
    padding: var(--spacing) 0;
    position: relative;
    text-decoration: none;
}

.sub-menu a {
    display: block;
}

@media (min-width: 50.001em) {
    .sub-menu a {
        padding-left: var(--spacing-2x);
        padding-right: var(--spacing-2x);
    }
}

.site-nav__items a:hover,
.site-nav__items a:active,
.site-nav__items a:focus,
.site-nav__items a[aria-current="page"],
.site-nav__sub-toggle:hover,
.site-nav__sub-sub-toggle:hover,
.site-nav__sub-toggle:active,
.site-nav__sub-sub-toggle:active,
.site-nav__sub-toggle:focus,
.site-nav__sub-sub-toggle:focus {
    background-color: transparent;
    color: var(--color-primary);
}

.site-nav--click .site-nav__sub-toggle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 50em) {
    .site-nav--hover .site-nav__sub-toggle {
        position: absolute;
        right: 0;
        top: -0.4em;
    }
}

@media (min-width: 50em) {
    .site-nav--hover .site-nav__sub-toggle {
        margin-left: 0.2em;
    }

    .site-nav--hover .site-nav__sub-toggle svg {
        margin-left: 0;
        vertical-align: top;
    }
}

.site-nav__sub-sub-toggle {
    padding: var(--spacing);
    position: absolute;
    right: 0;
    top: 0;
}

.sub-menu {
    left: -999em;
    opacity: 0;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    visibility: hidden;
    z-index: 300;
}

@media (min-width: 50.001em) {
    .sub-menu {
        width: 12rem;
    }
}

[aria-expanded="true"] + .sub-menu {
    left: 0;
    opacity: 1;
    position: relative;
    padding: var(--spacing-2x) 0 var(--spacing-2x) var(--spacing-2x);
    transform: translateY(0);
    visibility: visible;
}

@media (min-width: 50.001em) {
    [aria-expanded="true"] + .sub-menu {
        background-color: var(--color-white);
        padding: 0;
        position: absolute;
    }

    .sub-menu [aria-expanded="true"] + .sub-menu {
        left: auto;
        right: -100%;
        top: 0;
    }
}

.site-nav__sub-toggle svg,
.site-nav__sub-sub-toggle svg {
    pointer-events: none;
    transition: transform 0.3s;
}

@media (min-width: 50.001em) {
    .site-nav__sub-toggle svg {
        margin-left: 0.2em;
    }

    .site-nav--click .site-nav__sub-toggle svg {
        top: 0.1em;
    }
}

.site-nav__sub-toggle[aria-expanded="true"] svg,
.site-nav__sub-sub-toggle[aria-expanded="true"] svg {
    transform: rotate(-180deg);
}
